:root{
  --cardAngle : 2deg;
}

*{
  user-select: none;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;

    display: flex;
    flex-direction: column;

    font-family : Verdana, Geneva, Tahoma, sans-serif;
  }

  nav{
    background-color: #9dbfd6;
    height: 10vh;
    font-size: xx-large;
    display: flex;
    align-items: center;
    padding : 0 2rem; 
    box-shadow: 0 0 20px #0005;
  }

  #title{
    flex: 1;
  }

  .navBtn{
    font-size: 1rem;
    margin-left: 1rem;
    transition : all 0.2s ease-in-out;
  }

  .navBtn:hover{
    background-color: #9dbfd6;
  }

  .viewer{
    display: flex;
    flex : 1;
    gap : 1rem;
    padding : 2rem;
    justify-content: end;
  }

  main{
    
    display: grid;
    place-items: center;
    rotate: var(--cardAngle);
    transition: scale 0.3s ease-in-out;
  }

  
  main:hover{
    scale: 1.4;
  }

  canvas {
    box-shadow: 5px 5px 20px #0002;
    border-radius: 1rem;
    z-index : 1;
  }

  .panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap : 2rem;
  }
  
  .cardBtns{
    display: flex;
  }

  button {
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    border: none;
    display: none;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #EEE;
    transition : all 0.2s ease-in-out;
    justify-content: center;
    gap : 1rem;
  }

  button > img{
    height: 3rem;
    rotate: 5deg;
  }

  button:hover{
    background-color: #9dbfd6;
  }

  button:disabled{
    background-color: #FFF5;
    cursor: default;
  }

  .bottomBar{
    background-color: #9dbfd6;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 4rem;
    box-shadow: 0 0 20px #0002;
  }

  #pageCounter{
    display : none;
  }

  .cardBtns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 1rem;
  }