canvas {
  box-shadow: 0 0 30px #0003;
  border-radius: 0.5rem;
  z-index: 1;
}

#collectionEditionPanel {
  flex-direction: row;
}

#canvasDiv {
  padding: 4rem;
  position: relative;
  height: 100%;
  flex: 1;
  background-color: var(--panelBG);
  border-radius: 1rem;
}

#canvasDiv .cardPreview {
  position: absolute;
  text-align: left;
  top: 94%;
  left: 50%;
  font-size: 0.8rem;
  translate: -50% -50%;
  margin-top: 1rem;
  opacity: 0.5;
}

#canvasDiv main {
  rotate: 0deg;
  scale: 1;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

#canvasDiv .btnContainer {
  transition: all 0.3s ease-in-out;
  opacity: 0;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.37);
  padding: 1rem;
  border-radius: 0.5rem;
}

#canvasDiv:hover .btnContainer {
  opacity: 1;
}

#canvasDiv .btnContainer img {
  rotate: 0deg !important;
}

.btnContainer {
  display: flex;
  gap: 1rem;
}

.cardBtns {
  display: flex;
}

.cardBtn {
  display: flex;
  height: 100%;
  color: var(--mainColorDark);
}

.cardBtn:hover {
  background: var(--mainColorLight);
  color: var(--mainBtnColor);
}

.cardBtn:disabled {
  background: #fff5;
  cursor: default;
}

#generateCollectionBtn {
  background-color: transparent;
  padding: 0;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  translate: 20% -20%;
  box-shadow: none;
  filter: drop-shadow(5px 5px 10px #104d6924);
}

#generateCollectionBtn:hover {
  background: transparent;
  scale: 1.3;
}

#generateCollectionBtn>img {
  height: 4rem;
}

#deleteCollectionBtn {
  background: #b00;
  color: white;
}

#deleteCollectionBtn:hover {
  background: #800;
}

.itemLabel {
  white-space: nowrap;
}

.headerSpacer {
  width: -webkit-fill-available;
}

#cardCounterDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#cardCounterDivBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/*      TAB SYSTEM     */

.tabs {
  width: 50vw;
  height: 100%;
  background-color: var(--panelBG);
  border-radius: 1rem;
  position: relative;
}

.content {
  backface-visibility: hidden;
  height: 94%;
}

.content>div {
  display: none;
  padding: 1rem;
}

#contentConfigDiv,
#contentPrintingDiv,
#contentTemplateDiv,
#contentRessDiv,
#contentElementsDiv {
  display: none;
  flex-direction: column;
  height: 100%;
}

#contentConfigDiv button,
#contentPrintingDiv button,
#contentTemplateDiv button,
#contentRessDiv button,
#contentElementsDiv button {
  margin: 0.5rem auto;
}

.content .accordion {
  margin-top: 1rem;
  width: 100%;
}

input[type="radio"] {
  display: none;
}

.tabs>label {
  display: inline-block;
  padding: 0.5rem;
  text-align: center;
  border-bottom: 1px solid transparent;
  transition: color 0.2s ease-out;
  font-size: 0.8rem;
  color: var(--mainColorText);
}

.tabs>label:hover {
  color: var(--mainColorDark);
  cursor: pointer;
}

.tabs>input:checked+label {
  color: var(--bgColor);
  background-color: var(--mainColorDark);
  border-radius: 0.5rem;
}

#tabConfigInput+label {
  margin: 1rem 0 0 1rem;
}

#tabConfigInput:checked~.content #contentConfigDiv,
#tabPrintingInput:checked~.content #contentPrintingDiv,
#tabTemplateInput:checked~.content #contentTemplateDiv,
#tabElementsInput:checked~.content #contentElementsDiv,
#tabRessInput:checked~.content #contentRessDiv,
#tabPrinting:checked~.content #contentPrintingDiv {
  display: flex;
}

/* TABS CONTENT */

.parameterSlot {
  margin-bottom: 0.5rem;
}

.parameterName {
  padding: 0;
  margin: 0 0 0.2rem 0;
  font-size: 0.8rem;
  width: -webkit-fill-available;
  color: var(--mainColorText);
}

.parameterInputLine {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.parameterInput {
  width: -webkit-fill-available;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}

.modeInput {
  width: 2rem;
  cursor: pointer;
  background: var(--categoryColor);
  border-radius: 0.5rem;
  padding: 0.2rem;
}

.modeInput:hover {
  opacity: 0.6;
}

.mainContent {
  overflow-y: scroll;
  padding: 0 0 0 1rem;
  flex: 1;
}

#ressItemsDiv {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* TABS INBSIDE TABS */

.paramTabs {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}

.paramTab {}

.paramTabLabel {
  cursor: pointer;
  padding: 0.5rem;
  transition: all 0.2s ease-in-out;
  border-radius: 0.5rem;
}

.paramTabLabel:hover {
  background-color: var(--mainColor);
}

.paramTabLabel img {
  height: 2rem;
}

.paramTabLabel span {
  display: none;
}

.paramContents {}

.paramContent {
  height: 10vh;
  background: var(--categoryColor);
  border-radius: 0.5rem;
  margin-top: 1rem;
}

/* ACCORDION */

.accordion {
  background-color: var(--bgColor);
  box-shadow: none;
  border-radius: 0.5rem;
  text-align: left;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.accordion.active {
  background-color: var(--mainColor);
  border-radius: 0.5rem 0.5rem 0 0;
}

.accordion>img {
  aspect-ratio: 1;
  height: 1.8rem;
  rotate: 0deg;
  transition: 0.3s;
}

.paramAccordion {
  background-color: var(--categoryColor);
  box-shadow: none;
  border-radius: 0.3rem;
  text-align: left;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  justify-content: start;
}

.paramAccordion:hover {
  background-color: var(--categoryColor);
}

.paramAccordion.active {
  background-color: var(--categoryColor);
  border-radius: 0.5rem 0.5rem 0 0;
}

.paramAccordion>img {
  aspect-ratio: 1;
  height: 1.8rem;
  rotate: 0deg;
  transition: 0.3s;
}

.paramPanel {
  display: block;
  overflow: hidden;
  max-height: 0;
  transition: all 0.2s ease-out;
  background-color: var(--panelBG);
  translate: 0 -0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

.upElementBtn:hover,
.downElementBtn:hover,
.visibilityBtn:hover,
.deleteComponentBtn:hover,
.deleteElementBtn:hover,
.duplicateComponentBtn:hover {
  scale: 1.5;
}

.itemPanel {
  display: block;
  overflow: hidden;
  max-height: 0;
  transition: all 0.2s ease-out;
  background-color: var(--panelBGDarker);
  translate: 0 -0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

.elementItemPanel {
  margin-left: 7.7rem;
}

.elementsHeaderDiv {
  border: none;
  display: none;
  align-items: center;
  border-radius: 0.5rem;
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.elementsHeaderDiv>img {
  aspect-ratio: 1;
  height: 3.2rem;
  padding: 0.3rem;
}

@keyframes beyblade {
  0% {
    rotate: 0;
  }

  100% {
    rotate: 360deg;
  }
}

.ressContainer {
  position: relative;
  height: 7rem;
  aspect-ratio: 1;
  margin: 0 !important;
  background-color: var(--mainColorDark);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 0.5rem;
  justify-content: center;
  box-shadow: 5px 5px 10px #104d6924;
  overflow: hidden;
  cursor: pointer;
}

.ressContainer>img {
  height: 100%;
  rotate: 0deg;
  transition: all 0.1s ease-in-out;
}

.ressContainer:hover>img {
  opacity: 0.3;
}

.ressTitle {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: all 0.1s ease-in-out;
  word-wrap: break-word;
  text-align: center;
  font-size: 0.8rem;
}

.ressContainer:hover>.ressTitle {
  opacity: 1;
}

.dataTable {
  width: 100%;
  text-align: center;
  table-layout: fixed;
  border-radius: 0.5rem;
  overflow: hidden;
  border-spacing: 0 0.5rem;
}

.dataTable th {
  background: var(--mainColor);
  padding: 0.5rem;
  color: var(--mainColorText);
  font-weight: 100;
}

td:nth-child(1),
th:nth-child(1) {
  border-radius: 0.5rem 0 0 0.5rem;
}

td:nth-child(3),
th:nth-child(3) {
  border-radius: 0 0.5rem 0.5rem 0;
}

.dataTable td {
  background-color: var(--bgColor);
  padding: 0.5rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 4rem;
  overflow-wrap: anywhere;
  color: var(--mainColorText);
}

.dataTable tr {
  border-radius: 0.5rem;
}