canvas {
  box-shadow: 0 0 30px #0003;
  border-radius: 0.5rem;
  z-index: 1;
}

#collectionEditionPanel {
  flex-direction: row;
}

#canvasDiv {
  padding: 4rem;
  position: relative;
  height: 100%;
  width: calc((100vw - 6rem) / 2);
  background-color: var(--panelBG);
  border-radius: 1rem;
  display: grid;
}

#canvasDiv .cardPreview {
  position: absolute;
  text-align: left;
  top: -3%;
  left: 50%;
  font-size: 0.8rem;
  translate: -50% -50%;
  margin-top: 1rem;
  opacity: 0.5;
}

#canvasDiv main {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  rotate: 0deg;
  scale: 1;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

#canvasDiv .btnContainer {
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  left: 50%;
  top: 8%;
  translate: -50% -50%;
  z-index: 5;
  padding: 1rem;
  border-radius: 0.5rem;
  width: max-content;
}

#canvasDiv .btnContainer img {
  rotate: 0deg !important;
  height: 2rem;
}

.btnContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.cornerContainer {
  display: flex;
  align-self: end;
  width: auto;
  flex-wrap: nowrap;
}

.cornerContainer button {
  aspect-ratio: 1;
  padding: 0.5rem;
  flex: 0;
}

.cornerContainer img {
  width: 3rem;
  height: 3rem;
}

.vertical {
  display: flex;
  flex-direction: column;
  width: auto;
}

.cardBtns {
  display: flex;
}

.cardBtn {
  display: flex;
  height: 100%;
  color: #1A5471;
}

.cardBtn:hover {
  background: var(--categoryColor);
  color: var(--mainBtnColor);
}

.cardBtn:disabled {
  background: var(--mainBtnColor);
  color: var(--mainColorDark);
  cursor: default;
  opacity: 0.3;
}

#generateCollectionBtn {
  background-color: transparent;
  padding: 0;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  translate: 20% -20%;
  box-shadow: none;
  filter: drop-shadow(5px 5px 10px #104d6924);
}

#generateCollectionBtn:hover {
  background: transparent;
  scale: 1.3;
}

#generateCollectionBtn>img {
  height: 4rem;
}

#deleteCollectionBtn {
  background: #b00;
  color: white;
  flex: 1;
}

#deleteCollectionBtn:hover {
  background: #800;
}

.itemLabel {
  white-space: nowrap;
}

.headerSpacer {
  width: -webkit-fill-available;
}

#cardCounterDiv {
  position: absolute;
  display: flex;
  bottom: 1rem;
  left: 50%;
  translate: -50% 0;
  width: calc(100% - 2rem);
}

#cardCounterDivBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  
  padding: 1rem;
  border-radius: 0.5rem;
}

.transBG{
  background: #1062936e;
}

/*      TAB SYSTEM     */

.tabs {
  width: calc((100vw - 6rem) / 2);
  height: 100%;
  background-color: var(--panelBG);
  border-radius: 1rem;
  position: relative;
}

.tabSpacer {
  display: inline-block;
  color: var(--mainColorText);
  opacity: 0.3;
  translate: 0 2px;
}

.content {
  backface-visibility: hidden;
  height: 94%;
}

.content>div {
  display: none;
  padding: 1rem;
}

#contentConfigDiv,
#contentPrintingDiv,
#contentTemplateDiv,
#contentRessDiv,
#contentElementsDiv {
  display: none;
  flex-direction: column;
  height: 100%;
}

#contentElementsDiv {
  gap: 0.5rem;
}

.content .accordion {
  width: 100%;
}

input[type="radio"] {
  display: none;
}

.tabs>label {
  display: inline-block;
  padding: 0.5rem;
  text-align: center;
  border-bottom: 1px solid transparent;
  transition: color 0.2s ease-out;
  font-size: 0.8rem;
  background: #fff8;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.tabs>label:hover {
  background: var(--categoryColor);
  cursor: pointer;
}

.tabs>input:checked+label {
  background: var(--mainColorDark);
}

#tabConfigInput+label {
  margin: 1rem 0 0 1rem;
}

#tabConfigInput:checked~.content #contentConfigDiv,
#tabPrintingInput:checked~.content #contentPrintingDiv,
#tabTemplateInput:checked~.content #contentTemplateDiv,
#tabElementsInput:checked~.content #contentElementsDiv,
#tabRessInput:checked~.content #contentRessDiv,
#tabPrinting:checked~.content #contentPrintingDiv {
  display: flex;
}

/* TABS CONTENT */

.parameterSlot {
  margin-bottom: 0.5rem;
}

.parameterName {
  padding: 0;
  margin: 0 0 0.2rem 0;
  font-size: 0.8rem;
  width: -webkit-fill-available;
  color: var(--mainColorText);
}

.parameterInputLine {
  align-items: center;
  gap: 0.5rem;
  display: grid;
  grid-template-columns: 10fr 1fr 10fr;
}

.parameterInput {
  width: -webkit-fill-available;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}

.modeInput {
  width: 2rem;
  cursor: pointer;
  background: var(--mainColorLight);
  border-radius: 0.5rem;
  padding: 0.2rem;
  margin-inline: auto;
}

.modeInput:hover {
  opacity: 0.6;
}

.mainContent {
  overflow-y: scroll;
  flex: 1;
}

#ressItemsDiv {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  flex: inherit;
  padding: 0 0rem 1rem 0;
}

.ressSeparator {
  flex: 1;
}

/* TABS INBSIDE TABS */

.paramTabs {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.paramTab {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  flex: 1;
  transition: all 0.2s ease-in-out;
  position: relative;
  height: 6rem;
  background-color: var(--bgColor);
  overflow: hidden;
}

.paramTab:hover {
  background-color: var(--mainColor);
}

.paramTab.checked {
  background-color: var(--categoryColor);
}

.paramTab img {
  position: absolute;
  left: 50%;
  top: 25%;
  translate: -50% -50%;
  height: 2rem;
  text-align: center;
  transition: all 0.2s ease-in-out;
  filter: drop-shadow(2px 2px 2px #0004);
  z-index: 1;
}

.paramTab.checked img {
  top: 50%;
  height: 4rem;
}

.paramTab span {
  font-size: 0.8rem;
  text-align: center;
  transition: all 0.2s ease-in-out;
  position: absolute;
  left: 50%;
  top: 75%;
  translate: -50% -50%;
  color: var(--mainColorText);
}

.paramTab.checked span {
  top: 50%;
  scale: 3;
  opacity: 0.1;
}

.paramContent {
  padding: 1rem;
  background: var(--mainColorShadows);
  border-radius: 0.5rem;
  margin-top: 1rem;
  display: none;
}

.paramContent.shown {
  display: block;
}

/* ACCORDION */

.accordion {
  position: relative;
  background-color: var(--bgColor);
  box-shadow: none;
  border-radius: 0.5rem;
  text-align: left;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.accordion.active {
  background-color: var(--mainColor);
  border-radius: 0.5rem 0.5rem 0 0;
}

.accordion.drag-over::after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 10vw;
  background-color: #1a6489;
}

.accordion>img {
  aspect-ratio: 1;
  height: 1.8rem;
  rotate: 0deg;
  transition: 0.3s;
}

.paramAccordion {
  background-color: var(--categoryColor);
  box-shadow: none;
  border-radius: 0.3rem;
  text-align: left;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  justify-content: start;
}

.paramAccordion:hover {
  background-color: var(--categoryColor);
}

.paramAccordion.active {
  background-color: var(--categoryColor);
  border-radius: 0.5rem 0.5rem 0 0;
}

.paramAccordion>img {
  aspect-ratio: 1;
  height: 1.8rem;
  rotate: 0deg;
  transition: 0.3s;
}

.paramPanel {
  display: block;
  overflow: hidden;
  max-height: 0;
  transition: all 0.2s ease-out;
  background-color: var(--panelBG);
  translate: 0 -0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

.dragHandle:hover,
.visibilityBtn:hover,
.deleteComponentBtn:hover,
.duplicateComponentBtn:hover {
  scale: 1.5;
}

.itemPanel {
  display: block;
  margin-top: 0.5rem;
  overflow: hidden;
  max-height: 0;
  transition: all 0.2s ease-out;
  background-color: var(--panelBGDarker);
  translate: 0 -0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

.itemPanel:last-of-type {
  margin-bottom: 30rem;
}

.elementItemPanel {
  margin-left: 7.7rem;
}

.elementsHeaderDiv {
  border: none;
  display: none;
  align-items: center;
  border-radius: 0.5rem;
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.elementsHeaderDiv>img {
  aspect-ratio: 1;
  height: 3.2rem;
  padding: 0.3rem;
}

@keyframes beyblade {
  0% {
    rotate: 0;
  }

  100% {
    rotate: 360deg;
  }
}

.ressContainer {
  position: relative;
  height: 7rem;
  aspect-ratio: 1;
  margin: 0 !important;
  background: repeating-conic-gradient(#aeaeae 0 25%, #c3c3c3 0 50%) 50% / 20px 20px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 0.5rem;
  justify-content: center;
  box-shadow: 5px 5px 10px #104d6924;
  overflow: hidden;
  cursor: pointer;
}

.ressContainer>img {
  width: 100%;
  rotate: 0deg;
  transition: all 0.1s ease-in-out;
}

.ressTitle {
  position: absolute;
  opacity: 0;
  inset: 0;
  transition: all 0.2s ease-in-out;
  word-wrap: break-word;
  text-align: center;
  font-size: 0.8rem;
  background: #2d94c794;
  display: grid;
  place-items: center;
}

.ressContainer:hover>.ressTitle {
  opacity: 1;
}

.dataTable {
  width: 100%;
  text-align: center;
  table-layout: fixed;
  border-radius: 0.5rem;
  overflow: hidden;
  border-spacing: 0 0.6rem;
  translate: 0 -0.5rem;
}

.dataTableHeader {
  border-radius: 0.5rem;
  overflow: hidden;
  background: var(--mainColor);
  color: var(--mainColorText);
  font-weight: 100;
  padding: 0.5rem 0rem;
  table-layout: fixed;
  width: calc(100% - 1rem);
}

td:nth-child(1),
th:nth-child(1) {
  border-radius: 0.5rem 0 0 0.5rem;
}

td:nth-child(3),
th:nth-child(3) {
  border-radius: 0 0.5rem 0.5rem 0;
}

.dataTable td {
  background-color: var(--bgColor);
  padding: 0.5rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow-wrap: anywhere;
  color: var(--mainColorText);
}

.dataTable tr {
  border-radius: 0.5rem;
}