canvas {
  box-shadow: 0 0 30px #0003;
  border-radius: 1rem;
  z-index: 1;
}

#collectionEditionPanel {
  flex-direction: row;
}

#canvasDiv {
  padding: 4rem;
  position: relative;
  height: 100%;
  flex: 1;
  background-color: var(--panelBG);
  border-radius: 1rem;
}

#canvasDiv .cardPreview {
  position: absolute;
  text-align: left;
  top: 94%;
  left: 50%;
  font-size: 0.8rem;
  translate: -50% -50%;
  margin-top: 1rem;
  opacity: 0.5;
}

#canvasDiv main {
  rotate: 0deg;
  scale: 1;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

#canvasDiv .btnContainer {
  transition: all 0.3s ease-in-out;
  opacity: 0;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.37);
  padding: 1rem;
  border-radius: 1rem;
}

#canvasDiv:hover .btnContainer {
  opacity: 1;
}

#canvasDiv .btnContainer img {
  rotate: 0deg !important;
}

#shadowCard {
  width: calc(100% - 8rem);
  height: calc(100% - 8rem);
  background: #4c4c4c;
  position: absolute;
  border-radius: 1rem;
}

.btnContainer {
  display: flex;
  gap: 1rem;
}

.cardBtns {
  display: flex;
}

.cardBtn {
  display: flex;
  height: 100%;
  color: var(--mainColorDark);
}

.cardBtn:hover {
  background: var(--mainColorLight);
}

.cardBtn:disabled {
  background: #fff5;
  cursor: default;
}

#generateCollectionBtn {
  background-color: transparent;
  padding: 0;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  translate: 20% -20%;
  box-shadow: none;
  filter: drop-shadow(5px 5px 10px #104d6924);
}

#generateCollectionBtn:hover {
  background: transparent;
  scale: 1.3;
}

#generateCollectionBtn > img {
  height: 4rem;
}

#deleteCollectionBtn {
  background: #b00;
  color: white;
}

#deleteCollectionBtn:hover {
  background: #800;
}

.itemLabel {
  white-space: nowrap;
}

.headerSpacer {
  width: -webkit-fill-available;
}

#cardCounterDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#cardCounterDivBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/*      TAB SYSTEM     */

.tabs {
  width: 50vw;
  height: 100%;
  background-color: var(--panelBG);
  border-radius: 1rem;
  position: relative;
}

.content {
  backface-visibility: hidden;
  height: 94%;
}

.content > div {
  display: none;
  padding: 1rem;
}

#contentConfigDiv,
#contentPrintingDiv,
#contentTemplateDiv,
#contentRessDiv,
#contentElementsDiv {
  display: none;
  flex-direction: column;
  height: 100%;
}

#contentConfigDiv button,
#contentPrintingDiv button,
#contentTemplateDiv button,
#contentRessDiv button,
#contentElementsDiv button {
  margin: 0.5rem auto;
}

.content .accordion {
  margin-top: 1rem;
  width: 100%;
}

input[type="radio"] {
  display: none;
}

.tabs > label {
  display: inline-block;
  padding: 0.5rem;
  text-align: center;
  border-bottom: 1px solid transparent;
  transition: color 0.2s ease-out;
  font-size: 0.8rem;
}

.tabs > label:hover {
  color: var(--mainColor);
  cursor: pointer;
}

.tabs > input:checked + label {
  color: white;
  background-color: var(--mainColorDark);
  border-radius: 0.7rem;
}

#tabConfigInput + label {
  margin: 1rem 0 0 1rem;
}

#tabConfigInput:checked ~ .content #contentConfigDiv,
#tabPrintingInput:checked ~ .content #contentPrintingDiv,
#tabTemplateInput:checked ~ .content #contentTemplateDiv,
#tabElementsInput:checked ~ .content #contentElementsDiv,
#tabRessInput:checked ~ .content #contentRessDiv,
#tabPrinting:checked ~ .content #contentPrintingDiv {
  display: flex;
}

/* TABS CONTENT */

.parameterSlot {
  margin-bottom: 0.5rem;
}

.param {
    display: none;
    padding: 0 1rem;
}

.catHeader{
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 0.5rem;
;
}

.catHeader:hover{
  background-color: #fff;
}

.catHeader.open ~ .param {
    display: block;
}

.catHeader.open ~ .catHeader ~ .param {
    display: none;
}

.parameterName {
  padding: 0;
  margin: 0 0 0.2rem 0;
  font-size: 0.8rem;
  width: -webkit-fill-available;
}

.spacer {
  color: #68a;
  font-size: 1.2rem;
  margin-top: 1rem;
  background: #fff8;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.spacerIcon {
  font-size: 2rem;
  translate: 0 -2px;
}

.spacerIconCentered {
  translate: 0 -7px;
}

.firstSpacer {
  margin-top: 0;
}

.parameterInputLine {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.parameterInput {
  width: -webkit-fill-available;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}

.modeInput {
  width: 2rem;
  cursor: pointer;
  background: #0002;
  border-radius: 0.5rem;
  padding: 0.2rem;
}

.modeInput:hover {
  background: #0004;
}

*:focus {
  outline: 3px solid #63a9d588;
}

.mainContent {
  overflow-y: scroll;
  padding-left: 1rem;
  flex: 1;
}

#ressItemsDiv {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* ACCORDION */

.elementItemWrapper {
  display: flex;
  gap: 0.5rem;
}

.elementItemWrapper > input,
.elementItemWrapper > .checkboxContainer {
  margin: 0.5rem auto;
  width: 3.5rem;
}

.elementItemWrapper > .qtyInput {
  font-size: 1rem;
  font-family: "Main Font";
  border: none;
  border-radius: 0.3rem;
  text-align: center;
}

.accordion {
  background-color: #fff;
  box-shadow: none;
  border-radius: 0.3rem;
  text-align: left;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.accordion.active {
  background-color: var(--mainColor);
  border-radius: 0.3rem 0.3rem 0 0;
}

.accordion > img {
  aspect-ratio: 1;
  height: 1.8rem;
  rotate: 0deg;
  transition: 0.3s;
}

.upElementBtn:hover,
.downElementBtn:hover,
.visibilityBtn:hover,
.deleteComponentBtn:hover,
.deleteElementBtn:hover,
.duplicateComponentBtn:hover {
  scale: 1.5;
}

.itemPanel {
  display: block;
  overflow: hidden;
  max-height: 0;
  transition: all 0.2s ease-out;
  background-color: #dfe3e7;
  translate: 0 -0.5rem;
  border-radius: 0 0 0.3rem 0.3rem;
}

.elementItemPanel {
  margin-left: 7.7rem;
}

.elementsHeaderDiv {
  border: none;
  display: none;
  align-items: center;
  border-radius: 0.3rem;
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.elementsHeaderDiv > img {
  aspect-ratio: 1;
  height: 3.2rem;
  padding: 0.3rem;
}

@keyframes beyblade {
  0% {
    rotate: 0;
  }

  100% {
    rotate: 360deg;
  }
}

.ressContainer {
  position: relative;
  height: 9rem;
  aspect-ratio: 1;
  margin: 0 !important;
  background-color: var(--mainColor);
  border-radius: 2vh;
  display: flex;
  align-items: center;
  font-size: 1rem;
  justify-content: center;
  box-shadow: 5px 5px 10px #104d6924;
  font-family: "Main Font", sans-serif;
  overflow: hidden;
  cursor: pointer;
}

.ressContainer > img {
  height: 100%;
  rotate: 0deg;
  transition: all 0.1s ease-in-out;
}

.ressContainer:hover > img {
  opacity: 0.3;
}

.ressTitle {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: all 0.1s ease-in-out;
  word-wrap: break-word;
  text-align: center;
}

.ressContainer:hover > .ressTitle {
  opacity: 1;
}

.deleteResourceBtn {
  position: absolute;
  height: 2rem !important;
  right: 2%;
  bottom: 2%;
  transition: 0.3s;
  border-radius: 50%;
  background-color: #ffffffbd;
  padding: 0.2rem;
  cursor: pointer;
  border: 3px solid white;
}

.uidTagCorner {
  position: absolute;
  height: 2rem !important;
  aspect-ratio: 1;
  left: 2%;
  top: 2%;
  transition: 0.3s;
  border-radius: 50%;
  background-color: #ffffffbd;
  padding: 0.2rem;
  color: #164a63;
  text-align: center;
  cursor: pointer;
  border: 3px solid white;
}

.deleteResourceBtn:hover,
.uidTagCorner:hover {
  scale: 1.2;
}

.dataTable {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  table-layout: fixed;
  border-radius: 1rem;
  overflow: hidden;
}

.dataTable th {
  background: #65bee8;
}

.dataTable th{
  padding: 0.5rem;
  border-bottom: 3px solid #424141;
}


.dataTable td {
  padding: 0.5rem;
  border-bottom: 1px solid #424141;
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
}

.dataTable tr:last-of-type td{
  border-bottom: none;
}
