@font-face {
  font-family: "Main Font";
  src: url("../../assets/font.ttf");
}

:root {
  --mainColor: #77c9f2;
  --mainBtnColor: #d4eeff;
  --mainColorDark: #2d94c7;
  --mainColorShadows: #00496e70;
  --mainColorLight: #eaf8ff;
  --panelBG: #ededed;
}

* {
  user-select: none;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  font-family: "Main Font", sans-serif;
}

nav {
  background: linear-gradient(90deg, var(--mainColor), var(--mainColorDark));
  min-height: 10vh;
  font-size: xx-large;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  box-shadow: 0 0 20px #0005;
  gap: 2rem;
  overflow: auto;
}

.navBtn {
  width: -webkit-fill-available;
  /* margin-top: 0.8rem; */
  border-radius: 0.5rem;
}



#title {
  flex: 1;
}

.viewer {
  display: flex;
  gap: 1rem;
  padding: 2rem;
  justify-content: end;
  height: 100%;
  max-height: 80vh;
}

main {
  display: grid;
  place-items: center;
}

.panel {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 2rem;
}

button {
  padding: 0.5rem 1rem;
  gap: 1rem;
  border-radius: 1vh;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  cursor: pointer;
  background: var(--mainBtnColor);
  transition: all 0.2s ease-in-out;
  box-shadow: 5px 5px 10px #104d6924;
  font-family: "Main Font", sans-serif;
}

button>img {
  height: 3rem;
  rotate: 3deg;
  filter: drop-shadow(2px 2px 2px var(--mainColorShadows));
}

button:hover {
  background: var(--mainColor);
}

button:disabled {
  background: #fff5;
  cursor: default;
}

.bigBtn {
  padding: 1rem 2rem;
  font-size: 2rem;
}

#bottomBarDiv {
  background: linear-gradient(-90deg, var(--mainColor), #34b3ff);
  min-height: 10vh;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  box-shadow: 0 0 20px #0005;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #63a9d5;
  border-radius: 10px;
  border: 6px solid var(--panelBG);
}

/* Customize the label (the container) */
.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 0.5rem;
}

/* On mouse-over, add a grey background color */
.checkboxContainer:hover input~.checkmark {
  background: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked~.checkmark {
  background-color: var(--mainColorDark);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.noStuffDiv {
  text-align: center;
  color: #0007;
  margin: 5rem auto;
}