@font-face {
  font-family: "Main Font";
  src: url("../../assets/font/font.ttf");
}

:root {
  --bgColor: #fbfdff;
  --mainBtnColor: #d4eeff;
  --mainColorLight: #eaf8ff;
  --panelBG: #ededed;
  --panelBGDarker: #bdcdd5;
  --mainColor: #77c9f2;
  --mainColorDark: #2d94c7;
  --mainColorShadows: #00496e30;
  --mainColorText: #07001c;
  --categoryColor: #68a;
}

* {
  user-select: none;
  box-sizing: border-box;
  font-family: "Main Font", sans-serif;
}

input,
select {
  background: var(--bgColor);
  color: var(--mainColorText);
}

input:disabled,
select:disabled {
  background: var(--mainColorText);
  color: var(--bgColor);
  opacity: 0.2;
}

input:focus,
select:focus,
input:active,
select:active {
  outline: 2px solid var(--mainColor);
}

html,
body {
  background: var(--bgColor);
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  font-family: "Main Font", sans-serif;
}

.blindfold {
  position: absolute;
  inset: 0;
  background: #fff;
  transition: opacity 0.5s ease-in-out;
}

nav {
  background: var(--mainColor);
  height: 7vh;
  font-size: 2rem;
  display: flex;
  align-items: center;
  padding: 0 0.5rem 0 0.5rem;
  box-shadow: 0 0 20px #0005;
  gap: 1rem;
  overflow: hidden;
  position: relative;
}

.navBtn {
  width: -webkit-fill-available;
  border-radius: 0.5rem;
  flex: 0 0 calc(50% - 0.5rem);
}

#mainTitleDiv {
  display: flex;
  gap: 1rem;
  flex: 1;
  color: var(--mainColorText);
  align-items: center;
}

.breadcrumbs {
  padding: 0.5rem;
  font-size: 1rem;
  background: var(--mainColorDark);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.breadcrumbs:hover {
  background: var(--categoryColor);
}

.separatorBc {
  opacity: 0.5;
}

.settingsBar {
  display: flex;
  gap: 1rem;
  position: absolute;
  right: -9rem;
  transition: all 0.5s ease-in-out;
  position: relative;
  isolation: isolate;
  align-items: center;
  height: 100%;
}

.settingsBarBg {
  position: absolute;
  inset: 0;
  background: var(--categoryColor);
  translate: 3.5rem 0;
  z-index: -1;
  border-radius: 2rem;
}

#homeBtn,
#langBtn,
#colorModeBtn,
#settingsBtn {
  display: flex;
  padding: 0.5rem;
  border-radius: 50%;
}

#settingsBtn,
#homeBtn {
  border-radius: 1rem;
  padding: 0.5rem;
}

#homeBtn > img,
#settingsBtn > img {
  height: 2rem;
}

#langBtn > img,
#colorModeBtn > img {
  height: 2.5rem;
}

#homeBtn:hover,
#langBtn:hover,
#colorModeBtn:hover,
#settingsBtn:hover {
  background: var(--mainColorLight);
}

#title {
  flex: 1;
}

.viewer {
  display: flex;
  gap: 1rem;
  padding: 2rem;
  justify-content: end;
  height: 100%;
  max-height: 93vh;
}

main {
  display: grid;
  place-items: center;
}

.panel {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 2rem;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

button {
  position: relative;
  padding: 0.5rem 1rem;
  gap: 1rem;
  border-radius: 0.5rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  cursor: pointer;
  background: var(--mainBtnColor);
  transition: all 0.2s ease-in-out;
  box-shadow: 5px 5px 10px var(--mainColorShadows);
  font-family: "Main Font", sans-serif;
  color: var(--mainColorText);
}

button > img {
  height: 2.5rem;
  rotate: 3deg;
  filter: drop-shadow(2px 2px 2px var(--mainColorShadows));
}

button:hover {
  background: var(--mainColor);
}

button:disabled {
  background: var(--mainBtnColor);
  opacity: 0.5;
}

#bottomBarDiv {
  background: var(--mainColor);
  min-height: 6vh;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  box-shadow: 0 0 20px #0005;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--mainColor);
  border-radius: 0.5rem;
  border: 6px solid var(--panelBG);
}

/* Customize the label (the container) */
.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 25px;
  width: 25px;
  background-color: var(--bgColor);
  border-radius: 0.5rem;
}

/* On mouse-over, add a grey background color */
.checkboxContainer:hover input ~ .checkmark {
  background: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked ~ .checkmark {
  background-color: var(--mainColorDark);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--bgColor);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.noStuffDiv {
  text-align: center;
  color: var(--mainColorText);
  opacity: 0.7;
  margin: 5rem auto;
}
