#projectSelectionPanel,
#projectEditionPanel,
#collectionSelectionPanel {
  flex-direction: column;
  gap: 2rem;
  justify-content: start;
}

.homePageHeader {
  font-size: 2rem;
  background: var(--panelBGDarker);
  padding: 1rem 1rem 1rem 10rem;
  translate: -113% 15%;
  border-radius: 0.5rem;
  text-align: center;
  rotate: -2deg;
  align-self: baseline;
  transition: all 0.3s ease-in-out;
}

#archivedCollectionsContainer,
#archivedProjectsContainer {
  background: var(--panelBG);
  padding: 1rem;
  border-radius: 0.5rem;
  max-height: 4rem;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 100%;
  color: var(--mainColorText);
}

#archivedCollectionsContainer > img,
#archivedProjectsContainer > img {
  width: 1rem;
}

#activeCollectionsDiv,
#archivedCollectionsDiv,
#activeProjectsDiv,
#archivedProjectsDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  overflow-y: scroll;
  padding: 0.5rem 1rem 1rem 0.5rem;
}

#archivedCollectionsDiv,
#archivedProjectsDiv {
  opacity: 0.5;
  display: none;
}

.deckBtn {
  padding-left: 0.5rem;
}

.deckBtn button {
  opacity: 0;
  padding: 0.2rem;
  background-color: white;
}

.deckBtn button:hover {
  background-color: var(--mainBtnColor);
}

.deckBtn:hover button {
  opacity: 1;
}

.projectName {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
}

.archivedCollectionsHeader,
.archivedProjectsHeader {
  height: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.archivedCollectionsHeader img,
.archivedProjectsHeader img {
  height: 2rem;
}

.archivedSeparator {
  flex: 1;
}

.archivedArrow {
  rotate: -90deg;
  transition: all 0.2s ease-in-out;
  font-size: 1.5rem;
  opacity: 0.5;
}

#archivedProjectsContainer.active .archivedArrow,
#archivedCollectionsContainer.active .archivedArrow {
  rotate: 90deg;
}

.homePagePanel {
  position: relative;
  height: 70vh;
  width: 90%;
  translate: 0 5vh;

  border-radius: 0.5rem;
  border: none;
  display: flex;
  flex-direction: column;
  background: var(--panelBG);
  box-shadow: 5px 5px 10px #104d6924;
  font-family: "Main Font", sans-serif;
  gap: 1rem;
  padding: 1rem;
}

.panelHeader {
  position: absolute;
  top: -7%;
  left: 0;
  padding-left: 10%;
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.imgContainer {
  position: absolute;
  top: 0;
  left: 0;
  translate: -50% -50%;
  background: var(--mainColor);
  border-radius: 50%;
  padding: 1rem;
  border: 10px white solid;
  display: grid;
  place-items: center;
}

.imgContainer > img {
  height: 3rem;
  rotate: 5deg;
}

.homePageBtn {
  background-color: var(--mainColorLight);
  display: flex;
  height: 100%;
}

.lettrine {
  font-size: 3rem;
  translate: 0 -7%;
  text-shadow: 0 0 15px #447d9a;
  font-family: "Segoe UI Emoji", sans-serif;
}
