 #startPanelDiv {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
 }

 #loadingPanelDiv {
  display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: start;
 }

 #archivedCollectionsContainer {
   background: #eee;
   padding: 1rem;
   border-radius: 1rem;
   max-height: 3.2rem;
   overflow: hidden;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
   width: 100%;
 }

 #activeCollectionsDiv,
 #archivedCollectionsDiv {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   height: fit-content;
   gap: 1rem;
   min-height: 6vh;
   width: 100%;
 }

#archivedCollectionsDiv{
  margin-top: 1rem;
}

 .homePageBtn {
   font-size: 1.8rem;
   position: relative;
   aspect-ratio: 2;
   width: 29vw;
 }

 .homePageBtn>.imgContainer {
   position: absolute;
   bottom: 86%;
   background: #77c7ff;
   border-radius: 50%;
   padding: 1rem;
   border: 10px white solid;
   display: grid;
   place-items: center;
 }

 .imgContainer>img {
   height: 4rem;
   rotate: 5deg;
 }

 .deckBtn {
   display: flex;
   height: 100%;
 }


 #homeBtn {
   display: flex;
   padding: 0.5rem;
   border-radius: 50%;
 }

 #homeBtn:hover {
   background: var(--mainColorLight);
 }